<!DOCTYPE html>
<html>
<head>
    <title>Racing League</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Racing League</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/drivers">Drivers</a></li>
            <li><a href="/teams">Teams</a></li>
        </ul>
    </nav>
<main>